<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>分类管理</title>
    <link rel="icon" th:href="@{images/icon/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <script th:src="@{javascript/jquery.js}"></script>
    <script th:src="@{javascript/plug-ins/customScrollbar.min.js}"></script>
    <script th:src="@{javascript/plug-ins/echarts.min.js}"></script>
    <script th:src="@{javascript/plug-ins/layerUi/layer.js}"></script>
    <script th:src="@{javascript/plug-ins/pagination.js}"></script>
    <script th:src="@{javascript/public.js}"></script>
    <script th:src="@{javascript/pages/pager.js}"></script>
    <script th:src="@{javascript/pages/public.js}"></script>
    <script th:src="@{javascript/pages/sort.js}"></script>
    <script th:src="@{javascript/pages/recordCheck.js}"></script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav" th:insert="~{index::part_side}">
    </div>
    <div class="content-wrap">
        <header class="top-hd" th:insert="~{index::part_top}">
        </header>
        <main class="main-cont content mCustomScrollbar">
            <!--开始::内容-->
            <section class="page-hd">
                <span>
                <button id="export" class="btn btn-secondary radius">导出Excel</button>
                <button id="open_btn" class="btn btn-secondary radius">导入Excel</button>
                <input type="hidden" id="msg" th:value="${msg}" th:if="${not #strings.isEmpty(msg)}">
                </span>
                <span style="float:right;">
                    <select id="budgetType" style="width: auto">
                        <option th:value="2">全部</option>
                        <option th:value="0" th:selected="${budgetType=='0'}">收入</option>
                        <option th:value="1" th:selected="${budgetType=='1'}">支出</option>
                    </select>
                    <input id="month" type="month" th:value="${month}">
                    <button class="btn btn-primary radius" id="recordSearch">查询</button>
                </span>
            </section>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th >收支类型 <i id="th0" onclick="SortTable(this)" class="strAs" style="display:inline-block;width: 16px;height:15px;background-image: url(/images/icon/sort.png);"></i></th>
                    <th >分类 <i id="th1" onclick="SortTable(this)" class="strAs" style="display:inline-block;width: 16px;height:15px;background-image: url(/images/icon/sort.png);"></i></th>
                    <th >金额 <i id="th2" onclick="SortTable(this)" class="numAs" style="display:inline-block;width: 16px;height:15px;background-image: url(/images/icon/sort.png);"></i></th>
                    <th >日期 <i id="th3" onclick="SortTable(this)" class="strAs" style="display:inline-block;width: 16px;height:15px;background-image: url(/images/icon/sort.png);"></i></th>
                    <th >账户 <i id="th4" onclick="SortTable(this)" class="strAs" style="display:inline-block;width: 16px;height:15px;background-image: url(/images/icon/sort.png);"></i></th>
                    <th >备注 </th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cen" th:each="record:${records}">
                    <td name="td0" th:text="${record.budgetType}==0?'收入':'支出'" th:style="${record.budgetType}==0?'color:green':'color:red' "></td>
                    <td name="td1" th:text="${record.category}" th:style="${record.budgetType}==0?'color:green':'color:red' "></td>
                    <td name="td2" th:text="${record.amount}" th:style="${record.budgetType}==0?'color:green':'color:red' "></td>
                    <td name="td3" th:text="${record.date}" th:style="${record.budgetType}==0?'color:green':'color:red' "></td>
                    <td name="td4" th:text="${record.pay}" th:style="${record.budgetType}==0?'color:green':'color:red' "></td>
                    <td name="td5" th:text="${record.summary}" th:style="${record.budgetType}==0?'color:green':'color:red' "></td>
                    <td>
                        <a th:href="@{editRecord?serialNo=}+${record.serialNo}" title="编辑">编辑</a>
                        <a th:href="@{deleteRecord?serialNo=}+${record.serialNo}" title="删除">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel panel-default">
                <div class="panel-bd">
                    <div class="pagination">
                        <input type="hidden" id="curPage" th:value="${curPage}">
                        <input type="hidden" id="count" th:value="${count}">
                        <a id="last" class="nextPage">上一页</a>
                        <span th:each="i:${#numbers.sequence(1,count)}">
                            <span th:if="${curPage eq i}" class="current">[[${i}]]</span>
                            <a th:unless="${curPage eq i}" th:text="${i}" th:href="@{'allRecordsPage?budgetType='+${budgetType}+'&month='+${month}+'&curPage='+${i}+'&pagesize=10'}" class="pcdNumber"></a>
                        </span>
                        <a id="next" class="nextPage">下一页</a>
                    </div>
                </div>
            </div>
            <!--开始::结束-->

        </main>
    </div>
</div>
<div id="fade" style="width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;"></div>
<div id="succ-pop" style="width: 400px;
    height: 300px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 999;
    border-radius: 5px;
    display: none;">
    <form th:action="import" id="excelForm" method="post" enctype="multipart/form-data">
        <div class="form-group-col-2">
            <input type="file" id="file" name="file" class="form-control form-boxed"/>
        </div>
        <div class="form-group-col-2">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="button" id="excelBtn" class="btn btn-primary" value="添加"/>
                <input id="cancel" type="button" class="btn btn-primary" value="取消"/>
            </div>
        </div>
    </form>
</div>
