<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>个人在线记账系统</title>
    <meta name="keywords" content="设置关键词..."/>
    <meta name="description" content="设置描述..."/>
    <meta name="author" content="DeathGhost"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="icon" th:href="@{images/icon/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <script th:src="@{javascript/jquery.js}"></script>
    <script th:src="@{javascript/plug-ins/customScrollbar.min.js}"></script>
    <script th:src="@{javascript/plug-ins/echarts.min.js}"></script>
    <script th:src="@{javascript/plug-ins/layerUi/layer.js}"></script>
    <script th:src="@{editor/ueditor.config.js}"></script>
    <script th:src="@{editor/ueditor.all.js}"></script>
    <script th:src="@{javascript/plug-ins/pagination.js}"></script>
    <script th:src="@{javascript/public.js}"></script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav" th:fragment="part_side">
        <div class="side-logo">
            <div class="logo">
                <strong>个人在线记账系统</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
                <a href="addRecord" class="InitialPage"><i style="vertical-align:middle;display:inline-block;width: 32px;height:32px;background-image: url(/images/icon/pen.png)"></i>记账</a>
            </h2>
            <h2>
                <a href="allCategory" class="InitialPage"><i style="vertical-align:middle;display:inline-block;width: 32px;height:32px;background-image: url(/images/icon/fenlei.png)"></i>分类管理</a>
            </h2>
            <h2>
                <a href="allRecords" class="InitialPage"><i style="vertical-align:middle;display:inline-block;width: 32px;height:32px;background-image: url(/images/icon/records.png)"></i>我的记账</a>
            </h2>
            <h2>
                <a href="charts" class="InitialPage"><i style="vertical-align:middle;display:inline-block;width: 32px;height:32px;background-image: url(/images/icon/shujutongji.png)"></i>收支概况</a>
            </h2>
            <h2>
                <a href="lines" class="InitialPage"><i style="vertical-align:middle;display:inline-block;width: 32px;height:32px;background-image: url(/images/icon/tongji.png)"></i>收支趋势</a>
            </h2>
            <h2>
                <a href="budgetTarget" class="InitialPage"><i style="vertical-align:middle;display:inline-block;width: 32px;height:32px;background-image: url(/images/icon/mubiao.png)"></i>预算和目标</a>
            </h2>
        </nav>
    </div>
    <div class="content-wrap">
        <header class="top-hd" th:fragment="part_top">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>
                    <li>
                        <a th:href="userInfo">
                            <img style="border-radius: 50%;width: 40px;height: 40px;"
                                 th:src="'/images/profiles/'+${session.user.profile}"/>
                            <em>[[${session.user.acct}]]</em></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>退出登录</a>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main-cont content mCustomScrollbar">
            <!--开始::内容-->

            <!--开始::结束-->
        </main>
    </div>
</div>
</body>
</html>
