<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>分类管理</title>
    <link rel="icon" th:href="@{images/icon/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{layui/css/layui.css}"  media="all">
    <script th:src="@{javascript/jquery.js}"></script>
    <script th:src="@{javascript/plug-ins/customScrollbar.min.js}"></script>
    <script th:src="@{javascript/plug-ins/echarts.min.js}"></script>
    <script th:src="@{javascript/plug-ins/layerUi/layer.js}"></script>
    <script th:src="@{editor/ueditor.config.js}"></script>
    <script th:src="@{editor/ueditor.all.js}"></script>
    <script th:src="@{javascript/plug-ins/pagination.js}"></script>
    <script th:src="@{javascript/pages/pager.js}"></script>
    <script th:src="@{javascript/pages/public.js}"></script>
    <script th:src="@{layui/layui.all.js}"></script>
    <script th:src="@{javascript/pages/paintBudget.js}"></script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav" th:insert="~{index::part_side}">
    </div>
    <div class="content-wrap">
        <header class="top-hd" th:insert="~{index::part_top}">
        </header>
        <main class="main-cont content mCustomScrollbar">
            <!--开始::内容-->
            <ul class="flex flex-nowrap">
                <li class="box-child">
                    <div class="clear mt-20">
                        <div class="fl">
                            <label class="layui-form-label">月份</label>
                            <input type="text" style="width: 200px" class="layui-input" id="test" placeholder="yyyy-MM">
                            <label class="layui-form-label">月预算</label>
                            <input type="number" id="budget" class="form-control" style="width:200px;" th:value="${budget.budgetAmount}">
                            <button id="btn_budgetEdit" class="btn btn-info radius">设置</button>
                        </div>
                    </div>
                    <div class="panel panel-primary mr-10" id="budget_pie" style="width: 600px;height:400px;">
                    </div>
                </li>
                <li class="box-child">
                    <div class="clear mt-20">
                        <div class="fl">
                            <label class="layui-form-label">月份</label>
                            <input type="text" style="width: 200px" class="layui-input" id="test2" placeholder="yyyy-MM">
                            <label class="layui-form-label">月目标</label>
                            <input type="number" id="target" class="form-control" style="width:200px;" th:value="${target.targetAmount}">
                            <button id="btn_targetEdit" class="btn btn-info radius">设置</button>
                        </div>
                    </div>
                    <div class="panel panel-primary mr-10" id="target_pie" style="width: 600px;height:400px;">
                    </div>
                </li>
            </ul>
            <!--开始::结束-->
        </main>
    </div>
</div>
</body>
</html>
